.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li
        a.active(href='/')
          i.fa.fa-dashboard.fa-fw
          |  Dashboard
      li
        a.active(href='/news-articles')
          i.fa.fa-file.fa-fw
          |  News Articles