include /mixins/form-helpers

.form-group(class=errors.title && "has-error")
	label.control-label(for="title") Title
	+inputField('title', newsArticle.title)
	if errors.title
		p.help-block The title field is required.

.form-group(class=errors.body && "has-error")
	label.control-label(for="body") Body
	textarea#body.form-control(name='body')
		= oldInput('body', newsArticle.body)
	if errors.body
		p.help-block The body field is required.

.form-group(class=errors.publishDate && "has-error")
	label.control-label(for="publish-date") Publish Date
	+inputField('publishDate', newsArticle.publishDateForm)(type="date" id="publish-date")
	if errors.publishDate
		p.help-block The publish date must be a valid date.
