.form-group
	label(for="title") Title
	input#title.form-control(name='title' value=newsArticle.title)
	p.help-block Example clock-level help test here.

.form-group
	label(for="body") Body
	textarea#body.form-control(name='body')
		| #{newsArticle.body}
	p.help-block Example clock-level help test here.

.form-group
	label(for="publish-date") Publish Date
	input#publish-date.form-control(name='publishDate' type="date" value=newsArticle.publishDateForm)
	p.help-block Example clock-level help test here.