extends /layouts/admin

block content
	form.col-lg-12(action="/news-articles" method="POST")
		include _form
		
		
		.btn-group
			a.bt.btn-default(href="/news-articles") Back
			button.btn.btn-default(type="submit") Submit Button
