extends /layouts/admin

block content
	p 
		strong Id
		| -	#{user.id}
	p 
		strong Title
		| -	#{user.title}
	p 
		strong Short
		| -	#{user.short}
	p 
		strong Publish Date
		| -	#{user.publishDateFormatted}
